version: '3.2'
services:
    database:
        build: ./database
    service:
        build: ./service
        environment:
            PG_URI: postgres://postgres:postgres@database:5432/postgres
    testing:
        build: ./testing
        volumes:
            - type: bind
              source: ./build/reports
              target: /opt/worlds/build/test/reports
