{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "indent": ["error", 4],
    "max-len": ["error", 120],
    "valid-jsdoc": ["error", {
      "requireParamDescription": false,
      "requireReturnDescription": false,
      "requireReturn": false,
      "requireReturnType": false,
      "requireParamType": false,
      "prefer": {
        "returns": "return"
      }
    }]
  }
}
